#background{
    position: fixed;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

h1{font-size:50pt;}
p{font-size: 20pt;}
.nameTitle{
    position: fixed;
    top: 30%;
    left:30%;
    color: #f1f1f1;
    font-family: "Arial";
    width:100%;
    padding: 40px;
}

.menu{
    position: fixed;
    top: 10%;
    right:0;
    width:200px;
    font-size: 20pt;
}
.menu a{
    color: white;
    display: block;
    text-decoration: none;
}



